# Project exclude paths
.gradle
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
/build/classes/java/main/com/aws/toy/springboot/Application.class
/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/classes/com.aws.toy.springboot.web.HelloControllerTest.html
/build/reports/tests/test/packages/com.aws.toy.springboot.web.html
/build/classes/java/main/com/aws/toy/springboot/HelloController.class
/build/classes/java/test/com/aws/toy/springboot/web/HelloControllerTest.class
/build/classes/java/main/com/aws/toy/springboot/dto/HelloResponseDto.class
/build/classes/java/test/com/aws/toy/springboot/web/dto/HelloResponseDtoTest.class
/build/reports/tests/test/index.html
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/reports/tests/test/js/report.js
/build/test-results/test/binary/results.bin
/build/tmp/compileJava/source-classes-mapping.txt
/build/tmp/compileTestJava/source-classes-mapping.txt
/build/reports/tests/test/css/style.css
/build/test-results/test/TEST-com.aws.toy.springboot.web.HelloControllerTest.xml
